                        body {
                            font-family: 'Oswald', sans-serif;
                            margin: 20px 40px;
                        }
                        
                        #border {
                            font-size: 35px;
                            font-weight: 800;
                            font-style: italic;
                            border-left: 3px solid crimson;
                            border-bottom-left-radius: 4px.;
                            padding: top 50px;
                        }
                        
                        .first {
                            color: darkorange;
                        }
                        
                        .h-link {
                            text-decoration: none;
                            background-color: tomato;
                            padding: 7px 25px;
                            color: whitesmoke;
                            font-size: 13px;
                            border-radius: 5px;
                            margin-bottom: 100px;
                            font-style: italic;
                        }
                        
                        .up-section {
                            display: flex;
                        }
                        
                        .middle-section {
                            display: flex;
                        }
                        
                        .sector1 {
                            float: left;
                            width: 50%;
                            padding-right: 80px;
                        }
                        
                        .image {
                            float: right;
                            width: 50%;
                        }
                        
                        .image img {
                            width: 80%;
                            padding-left: 20px;
                            margin-top: 0%;
                        }
                        
                        h2 {
                            font-size: 30px;
                            text-align: center;
                        }
                        
                        .image-three {
                            float: left;
                            width: 30%;
                            background-color: rgba(196, 252, 143, 0.671)))7, 147, 129);
                            border-radius: 10px;
                        }
                        
                        .image-two {
                            float: right;
                            width: 30%;
                            background-color: rgb(128, 245, 233);
                            border-radius: 10px;
                        }
                        
                        .illustrators {
                            width: 30%;
                            background-color: rgba(245, 161, 241, 0.726);
                            border-radius: 10px;
                        }
                        
                        .image-three img {
                            width: 45%;
                            height: 30%;
                        }
                        
                        .image-two img {
                            width: 45%;
                            height: 30%;
                        }
                        
                        .illustrators img {
                            width: 45%;
                            height: 30%;
                        }